@-webkit-keyframes slideInBothWays {
  0% {
    -webkit-transform: translate3d(100%,0,0);
  }

  65% {
    -webkit-transform: translate3d(-20%,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

.slide-in-both-ways {
  -webkit-animation: slideInBothWays ease-in 1;
  animation: slideInBothWays ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  width: inherit;
}

.slide-out-both-ways {
  -webkit-animation: slideInBothWays ease-in;
  animation: slideInBothWays ease-in;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  width: inherit;
}

.away {
  opacity: .3;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.hidden{
  display: none;
}

.icon-danger{
  color:  map-get($colors, danger) !important;
}

.icon-primary{
  color: map-get($colors, primary) !important;
}
