<ion-navbar *navbar primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Candidatos</ion-title>
</ion-navbar>

<ion-content padding >
  <ion-card *ngIf="candidates.length > 0" class="slide-in-both-ways">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="current_candidate.photo_url">
      </ion-avatar>
      <h3>{{current_candidate.name}}</h3>
      <p>Online pela última vez em {{current_candidate.last_online | toDate}}</p>
    </ion-item>

    <ion-card-content>
    <p>{{current_candidate.bio}}</p>
    </ion-card-content>

    <ion-item>
      <button success clear item-left (click)="acceptCandidate()">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>Aceitar</div>
      </button>
      <button danger clear item-right (click)="refuseCandidate()">
        <ion-icon name="thumbs-down"></ion-icon>
        <div>Recusar</div>
      </button>
    </ion-item>

  </ion-card>

  <ion-card *ngIf="candidates.length == 0" class="slide-in-both-ways">
    <ion-card-header>
      Nenhum candidato para o serviço
    </ion-card-header>
    <ion-card-content>
      Até o momento ninguém se candidatou para realizar o serviço que você solicitou. Aguarde um pouco mais!
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="feedbacks.length > 0">
    <ion-card-header>
      Referências
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="#feedback of feedbacks">
        <ion-avatar item-left>
          <img [src]="feedback.creator_photo">
        </ion-avatar>
        <h2>{{feedback.creator_name}}</h2>
        <p>Avaliação por um serviço criado em {{feedback.date | toDate}}</p>
        <ion-icon item-right [name]="feedback.rating > 0? 'thumbs-up' : 'thumbs-down'" [class.icon-danger]="feedback.rating == 0" [class.icon-primary]="feedback.rating > 0"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
