<ion-navbar *navbar primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Meus Serviços</ion-title>
</ion-navbar>


<ion-content padding>
  <ion-card *ngFor="#job of jobs">
    <ion-card-header class="job-header">
      {{job.title}}
    </ion-card-header>
    <ion-card-content>
      <ion-item text-wrap>
        <ion-avatar item-left>
            <img [src]="job.creator_photo">
        </ion-avatar>
        <h2>{{job.creator_name}}</h2>
        <p>{{job.cnae_name}}</p>

      </ion-item>
      <ion-item>
        <p>{{job.description}}</p>
      </ion-item>
      <ion-item item-right>
        <ion-note [ngClass]="{hidden: job.rating <= 0}" item-right success><ion-icon name='thumbs-up'></ion-icon> Avaliação Positiva!</ion-note>
        <ion-note [ngClass]="{hidden: job.rating != 0}" item-right danger><ion-icon name='thumbs-down'></ion-icon> Avaliação Negativa</ion-note>
      </ion-item>
    <ion-row no-padding>
      <ion-col text-left *ngIf="job.responsible_id">
        <button clear small primary-color (click)="openJobDetails(job)">
          <ion-icon name='chatbubbles'></ion-icon>
          Mensagens
        </button>
      </ion-col>
      <ion-col text-left *ngIf="!job.responsible_id && !user.isMei">
        <button clear small primary-color (click)="openJobSearch(job)">
          <ion-icon name='people'></ion-icon>
          Candidatos
        </button>
      </ion-col>
      <ion-col text-right>
        <button *ngIf="!user.isMei" clear small primary-color (click)="feedback(job)">
          <ion-icon name='star-half'></ion-icon>
          Avaliação
        </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
  </ion-card>

    <button *ngIf="!user.isMei" class="fixed" accent-color fab fab-right fab-bottom  (click)="openJobCreatePage()">
      <ion-icon name="add"></ion-icon>
    </button>

</ion-content>
