<ion-navbar *navbar primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Painel MeuMEI</ion-title>
</ion-navbar>

<ion-content padding class="getting-started">

  <ion-card>
    <ion-card-header>
      <h2>Status do Meu MEI</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item>
          <h1 primary-color>{{data.mei_count + data.non_mei_count}} <small>usuários ativos</small></h1>
        </ion-item>
        <ion-item>
          <h1 accent-color>{{data.available_job_count}}<small> serviços disponíveis</small></h1>
        </ion-item>
        <ion-item>
          <h1 primary-color>{{data.finalized_job_count}}<small> serviços realizados</small></h1>
        </ion-item>
        <ion-item>
          <h1 accent-color>{{data.cnae_count}}<small> tipos de atividade</small></h1>
        </ion-item>
        <ion-item>
          <h1 primary-color>{{data.mei_count}}<small> profissionais cadastrados</small></h1>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <img src="img/mc_horizontal.png" style="max-height: 100px;">
  <img src="img/inovapps.gif" style="max-height: 100px;">
</ion-content>
