.primary-color-light{
  background-color: map-get($colors, primary-color-light);
}

.hidden {
  display: none;
}

.right{
  text-align: right;
}

.chat-footer {
  min-height: 60px !important;
  position: fixed !important;
  width: 100%;
  bottom: 0px !important;
  margin: 0 auto;
  border: 0px;
}
