.border-bottom input{
  border-bottom: 1px solid map-get($colors, primary-color-light);
}

.border-bottom textarea{
  border-bottom: 1px solid map-get($colors, primary-color-light);
}

.right-margin{
  margin-right: 20px;
}
