<ion-navbar *navbar primary-color>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title *ngIf="job.creator_id == user._id">{{job.responsible_name}}</ion-title>
  <ion-title *ngIf="job.responsible_id == user._id">{{job.creator_name}}</ion-title>
</ion-navbar>

<ion-content class="home">
    <ion-list no-lines>
      <ion-item *ngFor="#message of messages" class="slide-in-both-ways">
        <ion-avatar item-right [ngClass]="{hidden: message.sender_id != user._id}">
          <img [src]="message.sender_photo">
        </ion-avatar>
        <ion-avatar item-left [ngClass]="{hidden: message.sender_id == user._id}">
          <img [src]="message.sender_photo">
        </ion-avatar>
        <p [ngClass]="{right: message.sender_id == user._id}">{{message.message}}</p>
      </ion-item>
    </ion-list>
    <div class="chat-footer">
      <ion-item>
        <ion-input type="text" [(ngModel)]="message" class="border-bottom"></ion-input>
        <button (click)="send()" item-right clear class="right-margin">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-item>
    </div>
</ion-content>
